* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    min-height: 100vh; /* Adjusted height */
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(AboutUs.jpg);
    background-size: cover; 
    background-position: center;
}

/* Style the navbar */
.navbar {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #127230;
    height: 90px;
}

/* Float the link section to the right */
.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    font-size: 20px;
    list-style: none;
    margin: 0 20px;
    position: relative;
}

/* Style the navbar links */
.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* Style the link underline */
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.3s ease;
}

.navbar ul li:hover::after {
    width: 100%;
}

.heading {
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

.content {
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 12%;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.websitesp {
    text-align: center;
    color: #0a411b;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 768px) {
    .navbar ul li {
        font-size: 14px;
    }

    .heading {
        font-size: 30px;
    }

    .content h1 {
        font-size: 36px;
    }

    .content p {
        font-size: 14px;
    }

    .websitesp {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        min-height: auto; /* Remove minimum height to fit content */
    }

    .navbar {
        padding: 5px 10px;
        height: 70px;
    }

    .navbar ul li {
        font-size: 14px;
        margin: 0 10px;
    }

    .heading {
        font-size: 24px;
    }

    .content h1 {
        font-size: 30px;
    }

    .content p {
        font-size: 14px;
    }

    .websitesp {
        font-size: 24px;
    }
}

/* Style for IDs */
#heading1 {
    text-align: center;
    color: white;
    margin-top: 35px;
    font-size: 100px;
}

#boring1,
#boring2,
#boring3,
#boring4,
#boring5,
#boring6 {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 30px;
}
