* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(map.jpg);
    background-size: cover; 
    background-position: center;
}

.navbar {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #127230;
    height: 90px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    font-size: 18px;
    list-style: none;
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    display: block;
    transition: width 0.3s ease;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    text-align: center;
    color: white;
    padding: 20px;
}

.content h2 {
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-top: 25px;
}

.operate, .wherewe {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .wherewe, .operate {
        max-width: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .wherewe, .operate {
        max-width: 700px;
    }
}


.wherewe {
    margin-left: 58.5%;
    margin-top: 30px;
}

h2 {
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 75px;
    margin-top: 25px;
    margin-left: 65%;
}

.operate {
    margin-left: 82%;
}
